<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-info text-succes">
                        <i class="fa-brands fa-product-hunt"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{totArticles}}</h3>
                        <small class="text-muted fs-3">Total of Products</small>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-warning text-danger">
                        <i class="bi bi-people"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{totClients}}</h3>
                        <small class="text-muted fs-3">Total Clients</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-danger text-warning">
                        <i class="bi bi-building"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{totSocietes}}</h3>
                        <small class="text-muted fs-3">Total Societes</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="btn btn-lg rounded-circle round round-lg fs-6 d-flex align-items-center justify-content-center bg-light-succes text-warning">
                        <i class="bi bi-command"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">{{totCommandes}}</h3>
                        <small class="text-muted fs-3">Total Commandes</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>